.frameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding: 1rem;
}

.frame {
  max-width: 600px;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-image: url('/Border.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.content {
  text-align: left;
  width: 100%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  margin-bottom: 2rem;
}

.highlight {
  font-family: var(--font-feature-display);
  font-weight: 500;
}

.content p {
  font-size: clamp(1rem, 2.5vw, 1.4rem);
  margin-bottom: 1rem;
  line-height: 1.4;
}

.learnMore {
  background-color: #02AF54;
  color: #F8F4EC;
  border: none;
  padding: 0.5rem 2rem;
  font-size: clamp(1rem, 2.5vw, 1.7rem);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--font-feature-display);
  font-weight: 400;
}

@media (max-width: 768px) {
  .frameContainer {
    padding: 0;
  }

  .frame {
    aspect-ratio: auto;
    height: auto;
    min-height: 300px;
    padding: 0;
  }

  .content {
    max-width: 100%;
    padding: 4rem;
  }
  .content p {
    font-size: 1rem;
  }
  .text {
    margin-bottom: 1.5rem;
  }

  .learnMore {
    padding: 0.4rem 1.5rem;
  }
}

@media (max-width: 480px) {
  .frame {
    min-height: 250px;
    padding: 1rem;
  }

  .content {
    max-width: 95%;
  }

  .text {
    margin-bottom: 1rem;
  }

  .learnMore {
    padding: 0.3rem 1.2rem;
  }
}