.PatronsSection{
    padding: 4rem 2rem;

}
.title{
    font-family: var(--font-feature-display);
    font-weight: bold;
    letter-spacing: -0.18rem;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.description{
    font-size: 1.4rem;
}
.patrons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}