.container {
  position: relative;
  height: 300vh;
}

.spacer {
  height: 100vh;
}

.stickyContainer {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stickyImage {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}