.programSection {
  padding: 4rem 6rem;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  letter-spacing: -0.18rem;
  font-size: 3.2rem;
  margin-bottom: 1rem;
  font-family: var(--font-feature-display);
  font-weight: bold;
}

.desc {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.contentWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  gap: 2rem;
  /* justify-content: space-between;
  align-items: flex-start; */
}

.column {
  flex: 1;
  max-width: 300px;
}
.column1{
  align-self: flex-start;
}
.column3{
  align-self: flex-end;
}

.spiralWrapper {
  flex: 0 0 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spiralImage {
  width: 100%;
  height: auto;
}

.subtitle {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  font-family: var(--font-feature-display);
  font-weight: 500;
}

.description {
  /* font-style: italic; */
  margin-bottom: 1rem;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.list li {
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 1rem;
  font-size: 1rem;
}

.list li::before {
  content: '•';
  position: absolute;
  left: 0;
}

@media (max-width: 1024px) {
  .contentWrapper {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .column1{
    align-self: flex-start;
  }
  .column3{
    align-self: flex-start;
  }
  

  .column {
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .spiralWrapper {
    order: -1;
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .programSection {
    padding: 2rem 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .desc {
    font-size: 1rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .spiralWrapper {
    flex: 0 0 200px;
  }
}