.stickySection {
  height: 500vh; /* Adjust this value to control the scroll length */
}

.stickyContainer {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.sequenceImage {
  object-fit: contain;
  max-width: 300px;
  height: auto;
}