.page {
  margin-top: 3rem;
}

.PatronsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 9rem;
}

.PatronsContent h1 {
  font-size: clamp(2.5rem, 8vw, 5rem);
  font-family: var(--font-feature-display);
  font-weight: 900;
  letter-spacing: -0.1rem; 
  margin: 5rem 0;
  text-align: center;
}

.PatronsContent p, .becomeContainer p {
  font-size: var(--bodytext);
}

.last {
  margin: 2rem 0 4rem 0;
}

.PatronsContent a {
  text-decoration: underline;
}

.patrons {
  margin: 4rem 0 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
}

.mobileSlider {
  margin: 4rem 0 0 0;
  width: 100%;
}

.mobileSlider .slick-dots {
  bottom: -30px;
}

.mobileSlider .slick-dots li button:before {
  font-size: 10px;
}

.becomeContainer {
  margin: 4rem 0 0 0;
  text-align: left;
}

.becomeContainer h3 {
  font-family: var(--font-feature-display);
  font-weight: 700;
  font-size: var(--sectiontitle);
  letter-spacing: var(--titlespacing);
  margin-bottom: 20px;
}

.cardsContainer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  margin: 2rem 0;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  flex: 1 1 200px;
  max-width: 250px;
  border-radius: 16px;
  overflow: hidden;
  background-color: #f5e6d3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.imageContainer {
  position: relative;
  width: 100%;
  padding-top: 75%; /* 4:3 aspect ratio */
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContainer {
  flex-grow: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.text {
  font-size: var(--bodytext);
  margin: 0;
}

.textAlt {
  font-family: var(--font-feature-display);
  font-weight: 500;
}
.wrap{
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .PatronsContent {
    padding: 1rem;
  }
  
  .PatronsContent h1 {
    font-size: 3rem;
    margin: 3rem 0;
  }
  
  .PatronsContent p, .becomeContainer p {
    font-size: 1rem;
  }
  .text{
    font-size: 1rem;
  }
  .becomeContainer h3 {
  font-size: 2rem;
  }
  .cardsContainer {
    flex-direction: column;
    align-items: center;
  }
  
  .patrons {
    display: none;
  }
  
  .mobileSlider {
    display: block;
  }
  
  .becomeContainer p {
    text-align: left;
  }
  
  .card {
    flex-basis: 100%;
  }
}