.PatronsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem;
}

.PatronsContent h1 {
    font-size: clamp(2.5rem, 8vw, 5rem);
    font-family: var(--font-feature-display);
    font-weight: 900;
    letter-spacing: -0.1rem;
    margin: 2rem 0;
}
.PatronsContent p, .becomeContainer p {
    font-size: clamp(1rem, 3vw, 1.4rem);
}

.patrons{
    margin: 2rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
    /* gap: 1rem; */
}
.becomeContainer h3 {
    font-family: var(--font-feature-display);
    font-weight: 700;
    font-size: 2.3rem;
    margin-bottom: 20px;
}

.cardsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.card {
    max-width: 250px;
    border-radius: 16px;
    overflow: hidden;
    background-color: #f5e6d3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 400px; /* Fixed height for the card */
  }
  
  .imageContainer {
    position: relative;
    width: 100%;
    height: 160px; /* Fixed height for the image container */
    flex-shrink: 0; /* Prevents the image container from shrinking */
  }
  
  .image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .textContainer {
    flex-grow: 1; /* Takes up the remaining space */
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Centers the text vertically */
    overflow-y: auto; /* Allows scrolling if text overflows */
  }
  
  .text {
    font-size: 1.4rem !important;
    margin: 0;
    /* line-height: 1.2; Adjust as needed */
  }
  
  .textAlt {
    font-family: var(--font-feature-display);
    font-weight: 500;
  }
  
  @media (max-width: 768px) {
    .card {
      height: auto; /* Allow height to adjust on smaller screens */
      max-height: 400px; /* Set a maximum height */
    }
  
    .imageContainer {
      height: 120px; /* Slightly smaller fixed height for smaller screens */
    }
  
    .text {
      font-size: 1.4rem !important; /* Slightly smaller font for mobile */
    }
  }